* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #5e5e5e;
  font-style: normal;
}
.footer {
  text-align: center;
  position: sticky;
}
.icon {
  color: #5e5e5e;
  transition: .3s ease;
  padding: 0px 10px;
}
.icon:hover{
      /* color: #1E9CEA; */
      color: #b47aea;
}
.social_links {
  padding: 40px 0px;
  text-align: center;
}
.footer_main {
  padding: 40px 0px;
  border-top: 1px solid #5e5e5e;
  font-weight: 500;
  font-size: 16px;
}
.footer_author {
      padding-top: 10px;
}

